#ttts-player {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 500;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);

    .ttts-player-button {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        cursor: pointer;

        &:after {
            content: '';
            width: 20px;
            height: 20px;
            transition: all 0.2s ease-out;
        }

        &:hover {
            &:after {
                width: 30px;
                height: 30px;
            }
        }

        &.disabled {
            cursor: default;
            opacity: 0.3;
        }
    }

    #ttts-play {
        @extend .ttts-player-button;
        .ttts-play-sprite {
            display: inline;
        }
        .ttts-pause-sprite {
            display: none;
        }
        &.play {
            .ttts-play-sprite {
                display: none;
            }
            .ttts-pause-sprite {
                display: inline;
            }
        }
    }

    #ttts-config {
        @extend .ttts-player-button;
    }
    #ttts-next {
        @extend .ttts-player-button;
    }
    #ttts-prev {
        @extend .ttts-player-button;
    }

    &.ttts-player-tl {
        right: 'auto';
        top: 0;
        left: 0;
        border-bottom-right-radius: 15px;
    }
    &.ttts-player-tc {
        right: 'auto';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &.ttts-player-tr {
        top: 0;
        right: 0;
        border-bottom-left-radius: 15px;
    }
    &.ttts-player-bl {
        top: 'auto';
        right: 'auto';
        bottom: 0;
        left: 0;
        border-top-right-radius: 15px;
    }
    &.ttts-player-bc {
        top: 'auto';
        right: 'auto';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &.ttts-player-br {
        top: 'auto';
        bottom: 0;
        right: 0;
        border-top-left-radius: 15px;
    }
}

.ttts-highlight {
    background-color: rgba(255, 235, 59, 0.5);
}
