#ttts-player {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 500;
    display: flex;
    border-bottom-left-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);

    .ttts-player-button {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        cursor: pointer;

        &:after {
            content: '';
            width: 20px;
            height: 20px;
            transition: all 0.2s ease-out;
        }

        &:hover {
            &:after {
                width: 30px;
                height: 30px;
            }
        }

        &.disabled {
            cursor: default;
            opacity: 0.3;
        }
    }

    #ttts-play {
        @extend .ttts-player-button;
        &:after {
            @extend .ttts-sprite-play;
        }
        &.play {
            &:after {
                @extend .ttts-sprite-pause;
            }
        }
    }

    #ttts-config {
        @extend .ttts-player-button;
        &:after {
            @extend .ttts-sprite-config;
        }
    }
    #ttts-next {
        @extend .ttts-player-button;
        &:after {
            @extend .ttts-sprite-next;
        }
    }
    #ttts-prev {
        @extend .ttts-player-button;
        &:after {
            @extend .ttts-sprite-prev;
        }
    }
}

.ttts-highlight {
    background-color: rgba(255, 235, 59, 0.5);
}
