.ttts-sprite {
    width: 28px;
    height: 28px;
}

.ttts-config-sprite {
    @extend .ttts-sprite;
}

.ttts-next-sprite {
    @extend .ttts-sprite;
}

.ttts-pause-sprite {
    @extend .ttts-sprite;
}

.ttts-prev-sprite {
    @extend .ttts-next-sprite;
    transform: scale(-1, -1);
}

.ttts-play-sprite {
    @extend .ttts-sprite;
}
